{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body id="image">
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <a href="{% url 'main' %}">egy<span>law</span></a>
            </div>

            <div class="nav-search">
                <form action="{% url 'search_results' %}" method="GET">
                    <input type="text" name="q" placeholder="ابحث عن موضوع ..." required>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="nav-social">
                <a href="https://www.facebook.com/profile.php?id=61590479204592" class="social-icon facebook" title="فيسبوك"><i class="fab fa-facebook-f"></i></a>
                <a href="{%url 'soon'%}" class="social-icon whatsapp" title="واتساب"><i class="fab fa-whatsapp"></i></a>
                <div class="nav-dropdown">
                    <button class="dropdown-btn"><i class="fas fa-bars"></i></button>
                    <div class="dropdown-content">
                        <a href="{% url 'archive' %}"><i class="fas fa-gavel"></i>المقالات</a>
                        {% comment %} <a href="#"><i class="fas fa-users"></i> فريق العمل</a> {% endcomment %}
                        <a href="{%url 'soon'%}"><i class="fas fa-headset"></i> طلب استشارة</a>
                        <a href="https://www.facebook.com/profile.php?id=100069358306013"><i class="fas fa-file-alt"></i>مطور الموقع</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {%block main%}
        {%endblock%}
        {% block content %}{% endblock content %}
    </main>

    <footer class="footer">
        <div class="footer-container">
            
            <div class="footer-column about-box">
                <h3 class="footer-logo">egy<span>law</span></h3>
                <p class="footer-description">
                    منصة قانونية تثقيفية تقدم استشارات وحلولاً قانونية متكاملة للأفراد والشركات، نسعى دائماً لتحقيق العدالة وحماية حقوق عملائنا بأعلى معايير المهنية.
                </p>
            </div>

            <div class="footer-column">
                <h4 class="column-title">هـــام</h4>
                <ul class="footer-links">
                    {% comment %} <li><a href="#">الرئيسية</a></li> {% endcomment %}
                    {% comment %} <li><a href="#">من نحن</a></li> {% endcomment %}
                    <li><a href="{% url 'Privacy_Policy'%}"><i class="fas fa-file-alt"></i> Privacy Policy </a></li>
                    <li><a href="{% url 'Terms_And_Conditions'%}"><i class="fas fa-file-alt"></i> Terms and Conditions </a></li>
                    <li><a href="{% url 'About_Us'%}"><i class="fas fa-file-alt"></i> About Us </a></li>
                    <li><a href="{% url 'Contact_Us'%}"><i class="fas fa-file-alt"></i> Contact Us </a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4 class="column-title">المواضيع الرئيسية</h4>
                <ul class="footer-links">
                    <li><a href="http://egylaw.site/search/?q=القانون+المدني">القانون المدني</a></li>
                    <li><a href="http://egylaw.site/search/?q=القانون+الجنائي">القانون الجنائي</a></li>
                    <li><a href="http://egylaw.site/search/?q=القانون+الاداري">القانون الاداري</a></li>
                    <li><a href="http://egylaw.site/search/?q=القانون+التجاري">القانون التجاري</a></li>
                    <li><a href="http://egylaw.site/search/?q=قانون+الاحوال+الشخصية">قانون الاحوال الشخصية</a></li>
                    <li><a href="http://egylaw.site/search/?q=قانون+العمل">قانون العمل </a></li>
                </ul>
            </div>

            <div class="footer-column contact-box">
                <h4 class="column-title">تواصل معنا</h4>
                <ul class="contact-info">
                    <li><i class="fas fa-map-marker-alt"></i> <span>جمهورية مصر العربية</span></li>
                    <li><i class="fas fa-phone-alt"></i> <span>000-000-000</span></li>
                    <li><i class="fas fa-envelope"></i> <span>fake1572000@gmail.com</span></li>
                </ul>
                <div class="footer-social">
                    <a href="https://www.facebook.com/profile.php?id=61590479204592" class="f-social-icon fb"><i class="fab fa-facebook-f"></i></a>
                    <a href="{%url 'soon'%}" class="f-social-icon wa"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>جميع الحقوق محفوظة &copy; 2026 <a href="{%url 'main'%}">EgyLaw</a>. صنع بكل حب.</p>
        </div>
    </footer>
    <script>
    const slides = document.querySelectorAll('.carousel-slide');
    let currentSlide = 0;

    function nextSlide() {
        // إزالة الفاعلية عن الشريحة الحالية
        slides[currentSlide].classList.remove('active');
        
        // الانتقال للشريحة التالية
        currentSlide = (currentSlide + 1) % slides.length;
        
        // تفعيل الشريحة الجديدة
        slides[currentSlide].classList.add('active');
    }

    // تغيير الشريحة كل 4000 ميلّي ثانية (4 ثوانٍ)
    setInterval(nextSlide, 5000);
</script>
</body>

</html>