{% extends "base.html" %}
{%block title%}Soon{%endblock%}
{% block main %}
<div id="privacy-policy-container">
    <h1 class="policy-main-title"> ادارة منصة EGYLAW</h1>
    <p class="policy-text"> ,نأسف لعدم توفر الاستشارة الان.. نحن نسعى الى ارضاء عملائنا لذا تم تأجيل طلب الاستشارة لحين توظيف عدد من المحامين .. يرقون الى درجة تطلعاتكم 
         حتى ذلك الحين, يمكنكم ابداء رأيكم والتواصل معنا عبر الرابط التالي<a href="{%url 'Contact_Us'%}" class="policy-link">تواصل_معنا</a> 
    </p >
    <p class="policy-date-text" style="margin-top: 30px;">شكرا لتفهمكم مع تحيات ادارة الموقع</p>
</div>
{% endblock main %}